---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "All Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.categories[page.tag] -%}
      <li>
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}&nbsp; 
        {%- for topic in site.topics -%}
            {%- if post.categories contains topic.tag -%}
            •<a href="{{ topic.url }}"> {{ topic.title }} </a>
            {%- endif -%}
          {%- endfor -%}</span>
        
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
